{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          {{with .mobile}} <li class="mb-3"><a href="tel:{{ . }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ . }}</a></li>{{ end }}
          {{with .email}} <li class="mb-3"><a href="mailto:{{ . }}"><i class="tf-ion-email mr-2"></i>{{ . }}</a></li>
          {{end }}
          {{with .location }} <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>{{ . }}
          </li>{{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.opennig_hour }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <ul class="list-unstyled">
          {{ range .day_time }}
          <li class="mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>

        <form name="contact" class="el-contact row" action="" method="POST">
          <div class="form-action-value" hidden>{{ site.Params.contact_form_action }}</div>

          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          </div>

          <div class="col-lg-12 mb-3">
            <span class="el-post-contact-field span">Help fight spam. Enter the correct answer in the next field *</span>
          </div>
          <div class="col-lg-12 mb-3">
            <span class="el-post-contact-field js-note span">JavaScript must be enabled to see question.</span>
          </div>

          <div class="col-lg-6 mb-3">
            <input type="text" name="validateRealContactUser" class="form-control mb-2 el-post-contact-field" required/>
          </div>
          <div class="d-none">
            <label>Do not fill this field unless you are a bot: <input name="welcome-bot"></label>
          </div>

          <div class="col-lg-6 mb-3 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">Send Now</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

{{ end }}
